@{
    ViewData["Title"] = "Select the physical quantity to be converted";
}

<h2>Select the type of conversion</h2>
<ul>
    <li><a asp-controller="Home" asp-action="Length">Convert Length</a></li>
    <li><a asp-controller="Home" asp-action="Weight">Convert Weight</a></li>
    <li><a asp-controller="Home" asp-action="Temperature">Convert Temperature</a></li>
</ul>
